* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status {
    font-size: 400%;
}

.white {
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.black {
    color: black;
    text-shadow: 0.1em 0.1em white;
}
