[Unit]
Description=Books Renewal Webservice
Wants=nginx.service

[Service]
ExecStart=/home/mcallister/mcallister/bin/mcallister server ""
WorkingDirectory=/home/mcallister/mcallister

[Install]
WantedBy=default.target
